.quote {
    margin: 0;
    width: 100%;
    background-color: #f8f8f8;
}

.quote_color_white {
    background-color: #fff;
}

.quote__wrap {
    margin: 0 auto;
    padding: 70px 0;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 320px 1fr;
    align-items: center;
}

.quote__block {
    margin: 0;
}

.quote__text {
    font-family: 'Roboto';
    font-style: italic;
    font-size: 24px;
    line-height: 36px;
    color: #999;
    margin: 0 0 20px;
}

.quote__signature {
    font-family: 'KaushanScript';
    font-size: 24px;
    position: relative;
    margin-left: 80px;
    color: #333;
}

.quote__signature::before {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: 50%;
    left: -75px;
}

.quote__image {
    justify-self: end;
    margin-right: 60px;
}