.facts {
    max-width: 100%;
    min-height: 270px;

}

.facts-items {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
}

.facts-items li {
    border-right: 1px solid #b5eae0;
    background-color: #95e1d3;
}

.facts-items li:last-of-type {
    border-right: none;
}

.facts-items__num {
    font-family: 'Montserrat';
    margin: 90px 0 25px;
    font-size: 72px;
    font-weight: 700;
    color: #fff;
}

.facts-items__value {
    font-family: 'Montserrat';
    margin: 0 0 90px;
    font-size: 14;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

@media (max-width:1024px){
  .facts-items{
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .facts-items__num {
    margin: 60px 0 20px;
    font-size: 72px;

}

.facts-items__value {
    margin: 0 0 60px;
    font-size: 14;

}
}
@media (max-width:640px){

  .facts-items__num {
    margin: 40px 0 20px;
    font-size: 56px;

}

.facts-items__value {
    margin: 0 0 40px;
    font-size: 14;

}
}
