.header {
    width: 100%;
    min-height: 1000px;
    background-image: url(../../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top__logo {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header-nav__link {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 65px;
    position: relative;
    transition: all .3s;
}

.header-nav__link:before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fce38a;
    bottom: -3px;
    display: none;
}

.header-nav__link:hover {
    color: #fce38a;
}

.header-nav__link:hover:before {
    display: inline-block;
}

.header-nav__link:last-of-type {
    margin-right: 0;
}

.header-nav__link:nth-child(6) {
    margin-right: 38px;
}

.header-banner {
    text-align: center;
    margin-top: 170px;
}

.header-banner__subtitle {
    font-family: 'KaushanScript';
    font-size: 72px;
    color: #fff;
    margin: 0;
}

.header-banner__title {
    max-width: 900px;
    font-family: 'Montserrat';
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    color: #fff;
    text-transform: uppercase;
    margin: 50px auto 125px;
    text-align: center;
    position: relative;
}

.header-banner__title::before {
    content: "";
    width: 5%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
}

.header-banner__button {
    outline: none;
    border: 3px solid #fff;
    width: 160px;
    min-height: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
}

.header-banner__button:hover {
    /* color: #f8e8b0; */
    /* border-color: #f8e8b0; */
    cursor: pointer;
    box-shadow: inset 1px 1px 10px 1px #fff;
}

.header-banner__button:active {
    transform: translateY(1px);
}

@media (max-width:1024px){
  .header{
    min-height: 800px;
  }
  .header-banner{
    margin-top: 100px;
  }
  .header-banner__title::before {
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
}
  .header-nav__link{
    margin-right: 20px;
  }
  .header-banner__title{
    font-size: 100px;
    margin-bottom: 100px;
  }
  .header-banner__subtitle{
    font-size: 48px;
  }
}
@media (max-width:640px){
  .header{
    min-height: 600px;
  }
  .header-banner{
    margin-top: 50px;
  }
  .header-banner__title::before {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
  .header-nav__link{
    margin-right: 10px;
  }
  .header-banner__title{
    line-height: 80px;
    margin: 20px auto 60px;
    font-size: 68px;
  }
  .header-banner__subtitle{
    font-size: 24px;
  }
}

@media (max-width:480px){
  .header{
    min-height: 400px;
  }
  .header-nav{
    display: none;
  }
  .header-banner{
    margin-top: 10px;
  }
  .header-banner__title::before {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
  .header-banner__title{
    font-size: 48px;
    line-height: 60px;
    margin: 20px auto 30px;
  }
