.amazing {
    text-align: center;
    margin: 100px auto 50px;
}

.amazing__subtitle {
    font-family: 'KaushanScript';
    font-size: 24px;
    margin: 0;
    color: #333;
}

.amazing__title {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 25px 0 100px;
    position: relative;
    color: #333;
}

.amazing__title::before {
    content: "";
    width: 6%;
    height: 3px;
    position: absolute;
    background-color: #f38181;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.amazing-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    position: relative;
}

.amazing-block::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
}

.amazing-items {
    position: relative;
}

.amazing-items__image {
    position: absolute;
    top: 60px;
    left: 30px;
}

.amazing-items__title {
    margin: 50px 0 20px;
    padding-left: 90px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

.amazing-items__text {
    margin: 0 0 50px;
    padding-left: 90px;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
}

@media (max-width:1024px){
  .amazing-block {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
}
@media (max-width:640px){
  .amazing{
    margin-top: 50px;
  }
  .amazing__title{
    margin-bottom: 50px;
  }
  .amazing-items__title{
    margin-top: 20px;
  }
  .amazing-items__text {
    margin-bottom: 20px;
    padding-left: 60px;
}
.amazing-items__image{
  left: 10px;
}
}
