.footer {
    background-color: #f8f8f8;
}

.footer__wrap {
    padding: 70px 0;
    display: grid;
    grid-template-columns: 460px 360px 280px;
    gap: 50px;
    border-bottom: 1px solid #999;
}

.footer-about__title {
    margin: 0;
    color: #999;
    font-family: 'Montserrat';
    font-size: 45px;
    font-weight: 700;
}

.footer-about__description {
    margin: 40px 0 50px;
    color: #999;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 24px;
}

.footer-about__counter {
    margin: 0;
    padding-bottom: 20px;
    color: #000;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    border-bottom: 1px solid #999;
}

.footer-about__counter_bold {
    font-size: 18px;
    font-weight: 900;
}

.footer__links {
    margin: 15px 0 35px;
    display: grid;
    grid-template-columns: 80px repeat(9, 30px);
    align-items: center;
}

.footer__link {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.footer__link:hover {
    background-color: rgba(153, 153, 153, .5);
    border-radius: 50%;
}

.footer__follow {
    margin: 0;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: #999;
}

.footer__form {
    margin: 0;
    padding: 0;
}

.footer__form-input {
    outline: none;
    border: 1px solid #999;
    margin: 0;
    padding: 0 0 0 10px;
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 14px;
    color: #333;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.footer__form-btn {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #95e1d3;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    left: -5px;
    top: 1px;
}

.footer__form-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.footer__blogs-title{
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 40px;
}

.footer__blog-card{
  display: flex;
  flex-direction: row;
  margin: 0 0 30px;
  align-items: center;
}

.footer__blog-description{
  margin: 0 0 10px 20px;
}

.footer__blog-name{
  text-decoration: none;
  color: #333;
  margin: 0;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.footer__blog-date{
  margin: 0;
  font-family: 'Roboto';
  color: #999;
  font-size: 13px;
  font-style: italic;
  line-height: 24px;

}

.footer__insta-images{
margin: 40px 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.footer_insta-title{
  margin: 0;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.footer__insta-link{
  margin: 0;
  font-family: 'Roboto';
  color: #585858;
  font-size: 13px;
  font-style: italic;
  line-height: 24px;
  text-decoration: none;

}

.footer__copyright{
  margin: 23px auto;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.footer__copyright_color{
  color: #f38181;
}
